body {
    background-color: palevioletred;
}

header {
    text-align: center;
}


.flip-container {
    width: 100%;
    height: 350px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.flipCard {
    transform: rotateY(-180deg);
}



#zero.front {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: yellow;
    color: black;
    text-align: center;
    border: 1px solid black;
}

#zero.back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    border: 1px solid black;
}

#first.front {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: yellow;
    color: black;
    text-align: center;
    border: 1px solid black;
}

#first.back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    border: 1px solid black;
}

#second.front {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: yellow;
    color: black;
    text-align: center;
    border: 1px solid black;
}

#second.back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    border: 1px solid black;
}

#third.front {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: yellow;
    color: black;
    text-align: center;
    border: 1px solid black;
}

#third.back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    border: 1px solid black;
}