@font-face {
    font-family: "Mollie-Glaston";
    src: url(fonts/Mollie-Glaston.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(186deg, rgba(255,129,230,1) 0%, rgba(90,241,85,1) 100%);
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

header {
    font-family: "Mollie-Glaston", 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
}


.flip-container {
    /* border: 2px solid red; */
    width: 600px;
    height: 510px;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cardItem {
    /* border: 2px solid blue; */
    margin: 5px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.cardItem, img {
    width: 135px;
    height: 240px;

}

.front, .back {
    /* border: 2px solid black; */
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}


.flipCard {
    transform: rotateY(-180deg);
}


    
